
<div class="smart-green">
<br>
  <h1>Welcome to your home </h1>
  <p><%= global_info %> </p>


  <%= show_name %>

  <ul>
    <li><%= link_to "Types/Kinds", kinds_path %></li>
    <li><%= link_to "Contacts", contacts_path %></li>
    <li><%= link_to "Addresses", addresses_path	 %></li>
    <li><%= link_to "Phones", phones_path %></li>


  </ul>
</div>






<!--

 <li><a href="https://rails-andrewacm25.c9users.io/contacts">Contacts</a></li>
 <li><a href="https://rails-andrewacm25.c9users.io/kinds"> Kinds</a></li>
 <li><a href="https://rails-andrewacm25.c9users.io/addresses">Addresses</a></li>
 <li><a href="https://rails-andrewacm25.c9users.io/phones">Phones</a></li>

-->
